	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--primary-color: red;
	--primary-height: 50px;
	--primary-width: 50%;
}
h1{
	background: var(--primary-color);
	width: var(--primary-width);
	height: var(--primary-height);
}